<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./view_mail_reporte_clientes.css
    body
        h4 REPORTE CLIENTES
        p Este correo es enviado de manera automática, favor no responder este correo.
        p Se adjunta el reporte CLIENTES correspondiente
        p <strong>Por favor no responder a este remitente, esta es una casilla sin supervisión.</strong>